* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#game {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 0;
}

#character {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    position: relative;
    left: 190px;
    top: 440px;
    z-index: 1000000;
}

.block {
    width: 400px;
    height: 20px;
    background: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

.hole {
    width: 40px;
    height: 20px;
    background: white;
    position: relative;
    top: 100px;
    left: auto;
    margin-top: -20px;
}
