.posts {
    width: calc(100% - 160px);
    margin: 64px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 56px;
}

.post {
    width: 410px;
}

.post--full {
    width: 720px !important;
}


.post .photo {
    width: 410px;
    height: 330px;
}

.post .photo--full {
    width: 720px !important;
    height: 1150!important;
}

.post .post--info {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post .post--info-full {
    margin-top: 40px !important;
}


.post .post--info .author {
    margin-bottom: 8px;
    color: #1A1A1F;
    font-size: 16px;
}

.post .post--info .publish--date {
    font-size: 12px;
    color: #85858D;
}

.post .post--info .title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px; 
    text-overflow: ellipsis;

}

.post .post--info .title {
    margin-top: 24px!important;
    margin-bottom: 24px!important;
    font-size: 32px;
    font-weight: bold; 
}

.post .post--info .post--categories {
    width: 100%!important;
    display: flex;
    gap: 16px!important;
    flex-wrap: wrap;
}

.post .post--info .post--category {
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
}

.post .post--info .post--category h4 {
    font-size: 12px;
}

.post .post--info .description {
    font-size: 16px;
    color: #85858D;
    margin: 16px 0;
    word-break: break-all;
}

.post .post--info .link {
    cursor: pointer;
    display: flex;
}

.post .post--info .link h4 {
    font-size: 14px;
    color: #5D37F3;
}

.post .post--info .link img {
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
}