*,*:before,*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import url("https://p.typekit.net/p.css?s=1&k=uos0ngx&ht=tk&f=26053.26054.26056.26062&a=94755906&app=typekit&e=css");

@font-face {
font-family:"Acumin Pro";
src:url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;
font-style:normal;
font-weight:700;
}


html,body {
   width: auto!important;
   overflow-x: hidden!important;
   overflow-y: scroll!important;
}

body {
    min-height: 100vh;
    max-width: 1440px;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

body .mobile-navbar {
    display: none;
}

body .header {
    max-height: 50px;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #F6F8F9;
}

header .image {
    width: 0px;
    height: 0px;
    display: none;
    pointer-events: none;
    -webkit-transform: translateX(250%);
        -ms-transform: translateX(250%);
            transform: translateX(250%);
}

header .hamburger {
    width: 0px;
    height: 0px;
    display: none;
}

header .logo {
    font-size: 13px;
    color: #FA6980;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px;
}

header .navbar .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.nav-ul .nav-li .nav-link {
    padding: 15px;
    font-size: 11px;
    color: #A6ADB4;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
}

.nav-ul .nav-li .current {
    color: #202124;
    font-weight: bold;
}

header .navbar .person {
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    margin-left: 40px;
}


body .main .news {
    width: 100%;
    /* display: -ms-grid;
    display: grid;
    -ms-grid-columns: 840px 600px;
    grid-template-columns: 840px 600px; */
    display: flex;
    justify-content: space-evenly;

}

main .news .news-left {
    height: 600px;
    width: 840px;
    max-width: 840px;
    background-image: url(./image/Image\ \(1\).png);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.news .news-left .news-left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 600px;
}

.news-left .news-left-container .news-title {
    font-size: 24px;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0px;
}

.news-left .news-left-container .news-underline {
    background-color: white;
    max-width: 560px;
    height: 2px;
    border-radius: 5px;
    margin-top: 40px;
}

.news-left .news-left-container .news-text-title {
    font-size: 28px;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.news-left .news-left-container .news-text {
    font-size: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.news-left .news-left-container .learn-more {
    margin-top: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 50px;
    max-width: 225px;
    border-radius: 7px;
    background-color: #FA6980;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

main .news .news-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 600px;
    width: 600px;
    max-width: 600px;
}

.news .news-right .news-right-container {
    height: 400px;
    max-width: 380px;
}

.news-right .news-right-container .news-right-title {
    font-size: 24px;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    line-height: 20px;
    margin: 0px;
    color: #202124;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 3px solid #EBEDED;
    height: 60px;
    margin-bottom: 41px;
}

.news-right-container .news-right-title .brackets {
    margin-bottom: 40px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.news-right-container .travel .travel-text {
    text-transform: uppercase;
    color: #FA6980;
    margin: 0px;
    font-size: 16px;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    color: #FA6980;
    line-height: 20px;
}

.news-right-container .technology .technology-text {
    color: #FA6980;
    text-transform: uppercase;
    margin: 0px;
    font-size: 16px;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    line-height: 20px;
}

.news-right-container .news-right-title .more-news {
    font-size: 24px;
}

.news-left .news-left-container .news-text-title {
    font-size: 24px;
}

.news-left .news-left-container .news-text {
    font-size: 16px;
}

.news-left .news-left-container .learn-more {
    font-size: 11px;
}
.travel .travel-text .travel-article {
    position: relative;
    margin-bottom: 41px;
}

.technology .technology-article,.travel .travel-article {
    position: relative;
}

.article-title {
    color: #202124;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    line-height: 20px;
}

.article-text {
    color: #A6ADB4;
    margin: 0px;
    font-size: 16px;
    font-family: Acumin Pro,sans-serif;
    line-height: 20px;
    
}


.time-ago {
    position: absolute;
    bottom: -1px;
    left: 26px;
    color: #A6ADB4;
    font-style: oblique;
    font-size: 13px;
    line-height: 26px;
    font-family: Helvetica,sans-serif;
    margin: 0px;
    display: inline-block;
}


body .main .sec2-container {
    max-width: 1440px;
    min-height: 1550px;
    background-color: #F6F8F9;
}

main .sec2-container .sec2 {
    /* position: relative;
    top: 40px;
    left: 140px;
    right: 140px;
    bottom: 100px; */
    margin: 40px auto 100px;
    max-width: 1160px;
}


.sec2-container .sec2 .trending-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.sec2 .trending-container .trending {
    font-size: 24px;
    color: #202124;
    text-transform: uppercase;
    width: 1025px;
    max-width: 1025px;
    height: 20px;
}

.sec2 .trending-container .brackets2 {
    width: 60px;
    max-width: 60px;
    margin-left: 83px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}


.sec2 .trending-grid {
    margin-top: 40px;
    min-height: 350px;
    max-width: 1160px;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,360px);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    -webkit-row-gap: 40px;
    -moz-row-gap: 40px;
            row-gap: 40px;
}

.trending-grid .trending1,.trending2,
.trending3 {
    background-color: #FFFFFF;
}

.trending-image {
    width: 360px;
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
}

.trending-time-ago {
    margin: 0 40px 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.time-ago2 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #A6ADB4;
    font-style: italic;
    margin-left: 10px;
}

.trending-heading {
    margin: 40px 40px 10px 40px;
    font-size: 16px;
    color: #202124;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    width: 280px;
}

.trending-paragraph {
    margin: 0 40px 0 40px;
    font-size: 13px;
    color: #A6ADB4;
    font-family: Acumin Pro,sans-serif;
    width: 280px;
}

.sec2-container .sec2 .happening-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sec2 .happening-container .happening-text {
    font-size: 24px;
    color: #202124;
    text-transform: uppercase;
    width: 1025px;
    max-width: 1025px;
    height: 20px;
}

.sec2 .happening-container .brackets3 {
    width: 60px;
    max-width: 60px;
    margin-left: 83px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
        -ms-flex-pack: space-between ;
            justify-content: space-between;
}

.sec2 .happening-container .brackets3 > img,.sec2 .trending-container .brackets2 > img {
    width: 6px;
    height: 10px;
}

.sec2 .happening-container .brackets3 > img:first-child,.sec2 .trending-container .brackets2 > img:first-child {
    border: #707070;
}

.happening-image {
    cursor: pointer;
}


.sec2-container .sec2 .happening-grid {
    min-height: 900px;
    max-width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.sec2 .happening-grid .happening-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 430px 40px 430px;
    grid-template-rows: 430px 430px;
    row-gap: 40px;
}

.happening-grid .happening-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 210px 102px 210px 102px 210px;
    grid-template-rows: repeat(3,210px);
    row-gap: 102px;
}

.happening-grid .happening-left .happening-left-container {
    position: relative;
}

.happening-left .happening-left-container .happening-left-header {
    position: absolute;
    height: 16px;
    width: 690px;
    top: 40px;
    left: 40px;
    bottom: 374px;
    right: 30px;
    line-height: 20px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -10px;
}

.happening-left .happening-left-container .happening-left-article {
    position: absolute;
    top: 288px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    height: 102px;
    width: 680px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 24px 10px 42px;
    grid-template-rows: 24px 42px;
    row-gap: 10px;
}

.happening-left-container .happening-left-article .happening-left-article-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 24px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 34px;
    margin: 0px;
}

.happening-left-container .happening-left-article .happening-left-article-text {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0px;
    margin-top: -5px;
    overflow: hidden;
}

.time-ago-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.time-ago2 {
    font-size: 13px;
    line-height: 26px;
    color: #CBD0D3;
    font-family: Helvetica;
    font-style: oblique;
    margin: 0px;
    margin-left: 8px;
}

.sec2 .happening-grid .happening-underline {
    display: none;
} 

.happening-grid .happening-right .happening-right-container {
    position: relative;
}

.happening-right .happening-right-container .happening-right-header {
    position: absolute;
    top: 230px;
    height: 16px;
    font-size: 16px;
    color: #202124;
    font-weight: bold;
    line-height: 26px;
}

.happening-right .happening-right-container .happening-right-time-ago {
    position: absolute;
    top: 256px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.happening-right-container .happening-right-time-ago .happening-right-text {
    font-size: 13px;
    font-family: Helvetica;
    color: #A6ADB4;
    line-height: 26px;
    font-weight: oblique;
    margin-left: 10px;
}

.happening-right-time-ago .happening-right-text .happening-right-link {
    font-size: 13px;
    color: #A6ADB4;
    font-family: Helvetica;
    font-weight: oblique;
    line-height: 26px;
    text-decoration: underline;
}

body .size {
    height: 100px;
    max-width: 1440px;
    background-color: #F6F8F9;
}

body .footer {
    min-height: 200px;
    max-width: 1440px;
    background-color: #A6ADB4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}

.footer .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-left .left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 378px;
    max-width: 378px;
    height: 82px;
}

.footer-left .left-container .footer-logo {
    font-size: 13px;
    height: 13px;
    width: 38px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Acumin Pro;
    color: #FFFFFF;
}

.footer-left .left-container .links-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3,auto);
    -ms-grid-rows: 13px 10px 13px 10px 13px 10px 13px;
    grid-template-rows: repeat(4,13px);
    row-gap: 10px;
    width: 282px;
    line-height: 15px;
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
    font-family: Helvetica;
    cursor: pointer;
    height: 13px;
}

.links-grid > *:nth-child(1) {
-ms-grid-row:1;
-ms-grid-column:1;
}

.links-grid > *:nth-child(2) {
-ms-grid-row:1;
-ms-grid-column:2;
}

.links-grid > *:nth-child(3) {
-ms-grid-row:1;
-ms-grid-column:3;
}

.links-grid > *:nth-child(4) {
-ms-grid-row:3;
-ms-grid-column:1;
}

.links-grid > *:nth-child(5) {
-ms-grid-row:3;
-ms-grid-column:2;
}

.links-grid > *:nth-child(6) {
-ms-grid-row:3;
-ms-grid-column:3;
}

.links-grid > *:nth-child(7) {
-ms-grid-row:5;
-ms-grid-column:1;
}

.links-grid > *:nth-child(8) {
-ms-grid-row:5;
-ms-grid-column:2;
}

.links-grid > *:nth-child(9) {
-ms-grid-row:5;
-ms-grid-column:3;
}

.links-grid > *:nth-child(10) {
-ms-grid-row:7;
-ms-grid-column:1;
}

.links-grid > *:nth-child(11) {
-ms-grid-row:7;
-ms-grid-column:2;
}

.links-grid > *:nth-child(12) {
-ms-grid-row:7;
-ms-grid-column:3;
}

.links-grid .links .links-color {
    color: #CBD0D3;
    text-decoration: none;
}

footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

footer .footer-right .footer--right--container {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    width: 560px;
    max-width: 590px;
}

.footer-right .footer--right--container .email-grid {
    height: 65px;
    width: 260px;
    max-width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer--right--container .email-grid .textbox {
    height: 40px;
    width: 100%;
    max-width: 100%;
    outline: none;
    position: relative;
}

.email-grid .textbox  .email-input {
    border: none;
    outline: none;
    height: 40px;
    width: 262px;
    max-width: 262px;
    border: 2px solid #CBD0D3;
    border-radius: 5px;
    background-color: #A6ADB4;
    color: #CBD0D3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

::-moz-placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

:-ms-input-placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

::-ms-input-placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

::placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

::-webkit-input-placeholder { 
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}
::-moz-placeholder { 
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}
:-ms-input-placeholder { 
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}
:-moz-placeholder { 
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

.email-grid .textbox  .send-logo {
    margin: 0px;
    position: absolute;
    right: 19px;
    top: 6px;
    cursor: pointer;
}

.footer--right--container .email-grid .email-text {
    font-size: 11px;
    font-family: Helvetica;
    color: #CBD0D3;
    height: 9px;
    margin: 0px;
}

.footer-right .footer--right--container .social-links {
    width: 160px;
    max-width: 160px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
