*,*:before,*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import url("https://p.typekit.net/p.css?s=1&k=uos0ngx&ht=tk&f=26053.26054.26056.26062&a=94755906&app=typekit&e=css");

@font-face {
font-family:"Acumin Pro";
src:url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;
font-style:normal;
font-weight:700;
}


body {
    width: 1440px;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}


body .header {
    height: 50px;
    width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #F6F8F9;
}

.header .logo {
    font-size: 13px;
    color: #FA6980;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px;
}

.navbar .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.nav-ul .nav-li .nav-link {
    padding: 15px;
    font-size: 11px;
    color: #A6ADB4;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: bold;
}

.nav-ul .nav-li .current {
    color: #202124;
    font-weight: bold;
}

header nav .person {
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    margin-left: 40px;
}


body .full-width {
    width: 1440px;
    background-color: #F6F8F9;
}

.full-width .main {
    height: 1924px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main .main-container {
    width: 1160px;
    height: 1924px;
}

.main-container .home-container {
    margin: 42px 0px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.home-container .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.home a .home-image {
    cursor: pointer;
}

.home .story {
    margin-left: 30px;
}

.story .story-link {
    color: #202124;
    font-size: 11px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
}

.home .world-news {
    margin-left: 19px;
    margin-top: 1px;
}

.main-container .home-container .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.filter .filter-image {
    padding: 12px;
    border: 2px solid #EBEDED;
    border-radius: 6px;
    cursor: pointer;
}

main .main-container .news {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 580px 580px;
    grid-template-columns: 580px 580px;
    position: relative;
}

.news .news-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.news .news-left .news-image {
    width: 580px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
}


.news-left .news-left-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
}

.news-left-container .news-left-header {
    margin: 0px;
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    font-family: Helvetica;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 28px;
}

.news-left-container .news-left-underline {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
    border: 2px solid #FA6980;
    border-radius: 5px;
}

.news-left-container .news-left-text {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: Helvetica;
    font-weight: bold;
    color: #FFFFFF;
    height: 42px;
    
}

.news-left-text > p {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.news-left .news-left-container .news-left-image {
    width: 40px;
    height: 40px;
    margin-top: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.main-container .news .news-right {
    height: 500px;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.news-right .news-right-container {
    position: relative;
    width: 360px;
}

.news-right-container .select {
    height: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.select .select-header {
    margin: 0;
    font-size: 13px;
    color: #202124;
    font-family: 'Acumin Pro', sans-serif;
    font-weight: bold;
    line-height: 20px;
}

.select-header .select-input {
    position: relative;
}

.select-input .dropdown-image {
    height: 6px;
    width: 10px;
    position: absolute;
    top: 17px;
    right: 20px;
    cursor: pointer;
}

.select-input .select-input-box {
    height: 40px;
    width: 360px;
    border: 2px solid #EBEDED;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 13px;
    font-size: 13px;
    font-family: Helvetica;
    line-height: 20px;
    color: #A6ADB4;
}

.news-right .news-right-container .keywords {
    height: 63px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.keywords .keywords-header {
    margin: 0;
    font-size: 13px;
    color: #202124;
    font-family: Acumin Pro;
    font-weight: bold;
    line-height: 20px;
}

.keywords .keywords-input {
    height: 40px;
    border: 2px solid #EBEDED;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 13px;
    font-size: 13px;
    font-family: Helvetica;
    line-height: 20px;
    color: #A6ADB4;
    padding: 15px;
}

.news-right .news-right-container .search-button {
    height: 40px;
    width: 134px;
    background-color: #FA6980;
    border-radius: 6px;
    border: none;
    font-size: 11px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.main .main-container .news-underline {
    width: 1160px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid #EBEDED;
}

.main .main-container .info-grid {
    margin-bottom: 40px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
    "info1 info2 info3";
    gap: 40px; 
}

.info-grid .info1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-area: info1;
    width: 360px;
}

.info1 .info-person {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
}

.info1 .info-header {
    position: absolute;
    top: 60px;
    margin: 0px;
    height: 61px;
    font-size: 24px;
    line-height: 34px;
    color: #202124;
}

.info-grid .info2 .info-text1 {
    margin: 0px;
    font-size: 14px;
    line-height: 26px;
    font-family: Helvetica;
    color: #A6ADB4;
}

.main-container .info-grid .info2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: info2;
}

.info2 .info-text2 {
    margin: 0px;
    font-size: 14px;
    line-height: 26px;
    font-family: Helvetica;
    color: #A6ADB4;
}

.main-container .info-grid .info3 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    grid-area: info3;
}


.info3 .time-ago {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 81px;

}

.time-ago .time-ago-image {
    height: 16px;
    width: 16px;
}

.time-ago .time-ago-text {
    margin: 0px;
    font-size: 13px;
    line-height: 26px;
    font-family: Helvetica, sans-serif;
    color: #A6ADB4;
    font-weight: oblique;
}


main .main-container .info-underline {
    border: 2px solid #EBEDED;
}

main .main-container .sec3 {
    height: 870px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.sec3 .el {
    width: 1160px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
}

.sec3 .sec3-text {
    margin: 0px;
    width: 760px;
    height: 250px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #A6ADB4;
}

main .main-container .sec3-underline {
    margin-bottom: 161px;
    width: 1160px;
    border: 2px solid #EBEDED;
}

body .footer {
    height: 200px;
    width: 1440px;
    background-color: #A6ADB4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}

.footer .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-left .left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 378px;
    height: 82px;
}

.left-container .footer-logo {
    font-size: 13px;
    height: 13px;
    width: 38px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Acumin Pro;
    color: #FFFFFF;
}

.left-container .links-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3,auto);
    -ms-grid-rows: 13px 10px 13px 10px 13px 10px 13px;
    grid-template-rows: repeat(4,13px);
    row-gap: 10px;
    width: 282px;
    line-height: 15px;
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
    font-family: Helvetica;
    cursor: pointer;
    height: 13px;
}

.links-grid > *:nth-child(1) {
-ms-grid-row:1;
-ms-grid-column:1;
}

.links-grid > *:nth-child(2) {
-ms-grid-row:1;
-ms-grid-column:2;
}

.links-grid > *:nth-child(3) {
-ms-grid-row:1;
-ms-grid-column:3;
}

.links-grid > *:nth-child(4) {
-ms-grid-row:3;
-ms-grid-column:1;
}

.links-grid > *:nth-child(5) {
-ms-grid-row:3;
-ms-grid-column:2;
}

.links-grid > *:nth-child(6) {
-ms-grid-row:3;
-ms-grid-column:3;
}

.links-grid > *:nth-child(7) {
-ms-grid-row:5;
-ms-grid-column:1;
}

.links-grid > *:nth-child(8) {
-ms-grid-row:5;
-ms-grid-column:2;
}

.links-grid > *:nth-child(9) {
-ms-grid-row:5;
-ms-grid-column:3;
}

.links-grid > *:nth-child(10) {
-ms-grid-row:7;
-ms-grid-column:1;
}

.links-grid > *:nth-child(11) {
-ms-grid-row:7;
-ms-grid-column:2;
}

.links-grid > *:nth-child(12) {
-ms-grid-row:7;
-ms-grid-column:3;
}

.left-container .links-grid .links-color {
    color: #CBD0D3;
    text-decoration: none;
}

body .footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.footer-right .footer--right-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.footer--right-container .email-grid {
    margin-left: 30px;
    height: 65px;
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.email-grid .textbox {
    height: 40px;
    width: 100%;
    outline: none;
    position: relative;
}

.textbox .email-input {
    border: none;
    outline: none;
    height: 40px;
    width: 262px;
    border: 2px solid #CBD0D3;
    border-radius: 5px;
    background-color: #A6ADB4;
    color: #CBD0D3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

::-moz-placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

:-ms-input-placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

::-ms-input-placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

::placeholder {
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

::-webkit-input-placeholder { 
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}
::-moz-placeholder { 
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}
:-ms-input-placeholder { 
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}
:-moz-placeholder { 
    color:#CBD0D3;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding: 20px;
}

.email-grid .textbox .send-logo {
    margin: 0px;
    position: absolute;
    right: 19px;
    top: 6px;
    cursor: pointer;
}

.footer--right-container .email-grid .email-text {
    font-size: 11px;
    font-family: Helvetica;
    color: #CBD0D3;
    height: 9px;
    margin: 0px;
}

.footer-right .footer--right-container .social-links {
    margin-left: 140px;
    width: 160px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
