.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header--left {
    flex: 0.5;
    background-color: white;
    color: gray;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
}

.header--left > input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 16px;
    min-width: 80px;
}

.header--right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header--right > h4 {
    margin-left: 10px;
}
