<h1>{{name}}</h1>
{{#if ishight}}
<p>price is hight</p>
{{/if}}

{{#each list}}
<p>{{this.name}}</p>
<form> action="" method="POST">
     <input type="text"  name="testName" />
    <input type = "submit" />
</form>
