<html>
    <head>
        <title>my crm</title>
        <Link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <%= name %>
        <% if(price > 4) { %>
            <p> price is hight</p>
            <% } %>
        <% list.forEach(element => { %>
          <p><%= element.name</p>
        <% } %>
        <p><%= element.name</p>
        <%} %>
    </body>
</html>