<htmnl>
    <head>
        <title>todo list</title>
        <Link rel="stylesheet" href="style.css"
    </head>
    <body>
        <div class="app">
             <div class="list-wrapper">
            <div class="list">
                <% todolist.forEach(element,index) => {  %>
                <div class="list-item"
                task 1;
              <%  } %>
            </div>

            <div class="list-item"
            task 2;
        </div>
        </div>

        <div class ="input-wraper"
        <form method="POST" action="/add">
        <input type ="text" name="Task" placeholder="add new task" />
        <button>add</button>
    </form>
    </div>

            </div>
            </div>
    </body>
</htmnl>