<html>
    <head>
        <title>login to chat</title>
    </head>
    <body>
        <form method="POST">
            <p><input type="text" name="username" placeholder="Username"/></p>
            <p><input type="password" name="password" placeholder="password"/></p>
            <p><input type="submit" value="login" /></p>
        </form>
    </body>
</html>